<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>About</h1>
        <p>A website for the weekly dnd game hosted by Lo Main on Main St.</p>
    </main>
<%- include('./include/end.ejs') %>
