<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Lo Main Dnd!</h1>
    </main>
<%- include('./include/end.ejs') %>