<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Pregen Characters</h1>
        <ul>
            <% if (characters.length > 0) { %>
                <% for (let character of characters) { %>
                <li>
                    <a class="char" href=""><%= character %></a>
                </li>
                <% } %>
            <% } %>
        </ul>
    </main>
<%- include('./include/end.ejs') %>