<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Schedule</h1>
        <p>Every Sunday starting between 6pm-7pm and ending 10pm-11pm at Lo Main Chattanooga</p>
        
    </main>
<%- include('./include/end.ejs') %>