<%- include('./include/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
</head>

<body>
    <%- include('./include/nav.ejs') %>

    <main>
        <h1>Schedule</h1>
    </main>
<%- include('./include/end.ejs') %>