@tailwind base;
@tailwind utilities;


.main-header__nav{
    display: flex;
    justify-content: center;
    flex-basis: auto;
}
.level_ul{
    display: flex;
    justify-content: center;
    
}
.level-link-li{
    font-family:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 30px;
    list-style:none;
    color:rgb(251, 127, 255);
    margin: 5px 5px 5px 5px;
}
.char_level{
    color:rgb(127, 255, 161);
}
.char_li{
    list-style:none;
    color:aquamarine;
    margin: 5px 5px 5px 5px;
}

.main-header__item-list{
    align-content: center;
    margin:auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
}
.main-header__item{
    float: left;
    border: 1px, solid, rgb(102, 255, 0);
}

.nav-link {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: block;
    color: rgb(102, 255, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    border: 1px, solid, aqua;  
    
}

.logout {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: block;
    color: rgb(102, 255, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
    border: 1px, solid, aqua;  
    background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.nav-link:hover{
    background-color: #111;
}

.main-header{
    border-bottom: 1px;
    border-bottom-color: rgb(136, 212, 85);
    border-bottom-style: solid;
}