<%- include('./include/head.ejs') %>
    <!--<link rel="stylesheet" href="/css/styles.css">-->
</head>

<body class="bg-gray-900">
    
    
    <%- include('./include/nav.ejs') %>
    
    <main class="flex text-center flex-wrap justify-center">
        <div class="mt-4 text-lg font-mono text-center text-teal-300
                    block hover:border-2
                    max-w-80 md:max-w-120 p-8
                    border border-gray-200 
                    rounded-xl shadow-sm hover:bg-gray-900
                    dark:bg-gray-800 dark:border-gray-700 
                    dark:hover:bg-gray-700">
            <p>A website for the weekly dnd game hosted by Lo Main on Main St.</p>
            <h1 class="text-3xl pt-12 pb-4 text-amber-300 text-shadow-lg text-shadow-orange-400">Schedule</h1>
            <p>Every Sunday starting between 6pm-7pm and ending 10pm-11pm at Lo Main</p>
        </div>
    </main>
    
<%- include('./include/end.ejs') %>