<%- include('../include/head.ejs') %>
     <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <%- include('../include/nav.ejs') %>

    <main>
        <ul class="flex flex-wrap justify-center gap-3">
            <a class="block bg-gray-800 border-2 border-gray-600 roudned-lg p-2 text-cyan-500 dark:hover:bg-gray-900" href="/admin/add-campaign">
                Add Campaign 
            </a>
            <a class="block bg-gray-800 border-2 border-gray-600 roudned-lg p-2 text-cyan-500 dark:hover:bg-gray-900" href="/admin/add-character">
                Add Character
            </a>
            <a class="block bg-gray-800 border-2 border-gray-600 roudned-lg p-2 text-cyan-500 dark:hover:bg-gray-900" href="/admin/campaigns">
                Edit Campaign
            </a>
        </ul>
        
    </main>
<%- include('../include/end.ejs') %>
