<%- include('../include/head.ejs') %>
     <link rel="stylesheet" href="/public/css/admin.css">
</head>

<body>
    <%- include('../include/nav.ejs') %>

    <main>
        <ul>
            <li><a href="/admin/add-campaign">Add Campaign</a></li>
            <li><a href="/admin/add-character">Add Character</a></li>
            <li><a href="/admin/campaigns">Edit Campaign</a></li>
        </ul>
        
    </main>
<%- include('../include/end.ejs') %>
