<header>
    <div class=" pt-6 text-center text-lg font-semibold text-teal-400">
        <h1 
        class=" font-mono text-4xl text-shadow-fuchsia-500 text-shadow-lg min-w-30">
            Lo Main Dnd!</h1>
    </div>
    <div aria-hidden="true" class="absolute inset-x-0 -top-20 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(25%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#d78bab] to-[#5e56ce] opacity-40 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
    </div>
    <!--<div aria-hidden="true" class="absolute inset-x-0 -top-20 -z-200 transform-gpu overflow-hidden blur-3xl sm:-top-20">
      <div style="clip-path: polygon(63% 1%, 56% 45%, 33% 51%, 11% 81%, 49% 86%, 47% 7%, 91% 31%, 84% 88%)" class="relative left-[calc(25%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#d05689] to-[#9b97d7] opacity-60 lg:left-[calc(75%-5rem)] sm:w-200"></div>
    </div>-->
<nav aria-label="Global" class="flex justify-center p-4">
    
    <ul class="flex flex-wrap gap-12">
            <a class="min-w-12 hover:text-shadow-lg hover: text-shadow-pink-500 text-center text-lg md:text-2xl font-semibold  text-lime-400" href="/">Home</a>
            <a class="min-w-12 hover:text-shadow-lg hover: text-shadow-pink-500 text-center text-lg md:text-2xl font-semibold text-lime-400" href="/campaigns">Campaigns</a>
            <a class="min-w-12 hover:text-shadow-lg hover: text-shadow-pink-500 text-center text-lg md:text-2xl font-semibold text-lime-400" href="/characters">Characters</a>
        <% if ( typeof isAuthenticated != 'undefined' && isAuthenticated && typeof csrfToken != 'undefined') { %>
            <a class="min-w-12 hover:text-shadow-lg hover: text-shadow-pink-500 text-center text-lg md:text-2xl font-semibold text-lime-400" href="/admin/home">Admin</a>
            <form class="appearance-none" action="/admin/logout" method="post">
                <button class="min-w-12 text-center text-lg md:text-2xl hover:text-shadow-lg hover: text-shadow-pink-500 font-semibold text-lime-400" type="submit">Logout</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        <% } %>
    </ul>
</nav>
<div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-30rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-35rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(25%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#c0658b] to-[#9b97d7] opacity-60 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
    </div>
</header>